@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.group, .group svg {
  transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
}

.heading {
  scroll-margin-top: 74px;
}

.nav-link a:after {
  display:block;
  content: '';
  border-bottom: solid 2px #4F46E5;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}
.nav-link a:hover:after { transform: scaleX(1); }
