.header-con, .typed-con {
  line-height: 1.2;
  letter-spacing: -0.025em;
  vertical-align: baseline;
}

.typed-con {
  font-size: 2rem;
  vertical-align: bottom;
}

.typed {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 1s steps(21, end) forwards;
}

.blinking {
  position: absolute;
  user-select: none;
  animation: blink 0.5s steps(2, start) infinite;
  font-weight: 300;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%;}
}

@keyframes blink {
  to { visibility: hidden; }
}
